body {
    
    color: black;
    background-image: url(https://wallpaperaccess.com/full/647233.jpg);
 background-image: fixed;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
}

#kr {
    width: 5%;
    height: 2.5em;
    
}
#nr1 {
    height: 2.5em;
    width: 6.25em;
    border: 0.15625em solid white;
    border-radius:  0.9375em;
    text-align: center;
    margin-left: 3.75em;
    margin-top: 1.875em;
    background-color: 
   rgba(255, 255, 255, 0.582);
    margin-left: 55%;
    margin-top: 2.5em;
    
    
   
}
#nr1b {
    text-decoration: none;
    color: Black;
    margin-top: 0.5em;
}
#nr2 {
    width: 20%;
    border: 0.15625em solid white;
    border-radius: 1.25em;
    text-align: center;
    background-color: 
    rgba(255, 255, 255, 0.582);
    margin-left: auto;
    margin-right: auto;
    margin-top: -2.5em;
    
}
h1 {
font-size: 1.875em;
}


#DivRum {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#KRum1 {
    border:0.15625em solid whitesmoke;
    border-radius: 1.25em;
    padding: 0.125em;
    margin-top: 0.625em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8.125em;
}

#KRum2 {
    border: 0.15625em solid whitesmoke;
    border-radius: 1.25em;
    padding: 0.125em;
    margin-top: 0.625em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8.125em;
}

#KRum3 {
    border: 0.15625em solid whitesmoke;
    border-radius: 1.25em;
    padding: 0.125em;
    margin-top: 0.625em;
    margin-left: auto;
    margin-right: auto;
    width: 8.125em;
    text-align: center;
}

#RPing {
    border: 0.15625em solid whitesmoke;
    border-radius: 1.25em;
    padding: 0.125em;
    margin-top: 0.625em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8.125em;
}
#uter {
    border: 0.15625em solid whitesmoke;
    border-radius: 1.25em;
    padding: 0.125em;
    margin-top: 0.625em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8.125em;
   

}

.kk {
    width: 15%;
    border: 0.1875em solid white;
    height: 35vh;
    margin-top: 5%   ;
    border-radius:  0.625em;
    background-color: 
   rgba(255, 255, 255, 0.637);
   


}
#temp {

width: 90%;
height: 5vh;
margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 3vh;
    font-size: 1.5em;
}
#hum{
    

    width: 90%;
    height: 5vh;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 3vh;
   font-size: 1.5em;
}

#curve_chart {
    margin-top: 5vh;
    margin-bottom: 5vh;
   
}
#w {
    text-align: center;
   font-family: 'Times New Roman', Times, serif;
   background-color: rgba(255, 255, 255, 0.582);
    border-radius: 20px;
    font-size: 50px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}
p{
font-style: italic;
font-size: 1.875em;

}
#q {
    height:1.0416666666667 vh ;
    width: 70%;
    margin-right: auto;
    margin-left: auto; 
    background-color: rgba(255, 255, 255, 0.582);
    padding: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 20px;
   
  
    
}
#imgr {

    height:30% ;
    position: absolute;
    left: 7%;
   top: 230vh;
 border-radius: 20px;
 
}
#img2 {
   height: 30%;
    position: absolute;
    left: 34%;
   top: 230vh;
 border-radius: 20px;
 

}
#img3 {
  
    height:30%;
    position: absolute;
    left: 66%;
   top: 230vh;
 border-radius: 20px;
 

}
#lol {
    height: 30vh;
    display: block;
    margin-top: 30%;
    border-top: 0.3125em solid white;
}

#kontakt-ram {

width: 30%;

margin-left: 1%;

display: flex;

float: left;

margin-right: 1%;

height: 110%;

border: 0.125em solid white;

border-radius: 20px;

background-color: 

   rgba(255, 255, 255, 0.726);

   margin-top: 1.25em;
}

#osss {

    font-size: 200%;
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    height: 4vh;
    width: 5em;

    margin-left: auto;

    margin-right: auto;

}

#ossp {

   margin-top: 10%;

   margin-left: -95%;

    

    width: 97%;

    height: 15vh;

    font-size: 120%;

    font-family: 'Times New Roman', Times, serif;

}
#skolann {

  

    font-size: 200%;
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    height: 4vh;
    width: 5em;

    margin-left: auto;

    margin-right: auto;
}




#skolaninfo {

    margin-top: 10%;

    margin-left: -95%;
 
     
 
     width: 97%;
 
     height: 15vh;
 
     font-size: 106%;
 
     font-family: 'Times New Roman', Times, serif;
 
}

#kontaktt {

   
    font-size: 200%;
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    height: 4vh;
    width: 6em;

    margin-left: auto;

    margin-right: auto;

}

#kontaktp {
    margin-top: 10%;

    margin-left: -95%;
 
     
 
     width: 97%;
 
     height: 15vh;
 
     font-size: 120%;
 
     font-family: 'Times New Roman', Times, serif;
 

}
#copyright {
    
    margin-top: 38vh;
    color: Black;
    background-color: rgba(255, 255, 255, 0.658);
    height: 4vh;
    font-size: 23px;
    margin-bottom: 5vh;
}