body {
    background-color: black;
    color: whitesmoke;
    background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/8/15/OLiJWQ.jpg);
 background-image: fixed;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
}

#kr {
    width: 5%;
    height: 2.5em;
    
}
#nr1 {
    height: 2.5em;
    width: 6.25em;
    border: 0.15625em solid white;
    border-radius:  0.9375em;
    text-align: center;
    margin-left: 3.75em;
    margin-top: 1.875em;
    background-color: 
   rgba(44, 32, 32, 0.329);
    margin-left: 55%;
    margin-top: 2.5em;
    
    
   
}
#nr1b {
    text-decoration: none;
    color: white;
    margin-top: 0.5em;
}
#nr2 {
    width: 20%;
    border: 0.15625em solid white;
    border-radius: 1.25em;
    text-align: center;
    background-color: 
   rgba(44, 32, 32, 0.329);
    margin-left: auto;
    margin-right: auto;
    margin-top: -2.5em;
}
h1 {
font-size: 1.875em;
}


#DivRum {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#KRum1 {
    border:0.15625em solid whitesmoke;
    border-radius: 1.25em;
    padding: 0.125em;
    margin-top: 0.625em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8.125em;
}

#KRum2 {
    border: 0.15625em solid whitesmoke;
    border-radius: 1.25em;
    padding: 0.125em;
    margin-top: 0.625em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8.125em;
}

#KRum3 {
    border: 0.15625em solid whitesmoke;
    border-radius: 1.25em;
    padding: 0.125em;
    margin-top: 0.625em;
    margin-left: auto;
    margin-right: auto;
    width: 8.125em;
    text-align: center;
}

#RPing {
    border: 0.15625em solid whitesmoke;
    border-radius: 1.25em;
    padding: 0.125em;
    margin-top: 0.625em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8.125em;
}
#uter {
    border: 0.15625em solid whitesmoke;
    border-radius: 1.25em;
    padding: 0.125em;
    margin-top: 0.625em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8.125em;
   

}

.kk {
    width: 15%;
    border: 0.1875em solid white;
    height: 35vh;
    margin-top: 5%   ;
    border-radius:  0.625em;
    background-color: 
   rgba(44, 32, 32, 0.329);
   


}
#temp {
background-color: seagreen;
width: 90%;
height: 5vh;
margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 3vh;
    font-size: 1.3em;
}
#hum{
    background-color: blueviolet;
    width: 90%;
    height: 5vh;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 3vh;
   font-size: 1.3em;
}
#w {
    text-align: center;
   font-family: 'Times New Roman', Times, serif;
   
    font-size: 50px;
}
p{
font-style: italic;
font-size: 1.875em;
}
#q {
    height:1.0416666666667 vh ;
    width: 50%;
    margin-right: auto;
    margin-left: auto; 
   
  
    
}
#imgr {

    height:30% ;
    position: absolute;
    left: 7%;
   top: 65em;
 border-radius: 20px;
 border: 2px solid white;
}
#img2 {
   height: 30%;
    position: absolute;
    left: 34%;
   top: 65em;
 border-radius: 20px;
 border: 2px solid white;

}
#img3 {
  
    height:30%;
    position: absolute;
    left: 66%;
   top: 65em;
 border-radius: 20px;
 border: 2px solid white;

}
#lol {
    height: 30vh;
    display: block;
    margin-top: 30%;
    border-top: 0.3125em solid white;
}

#kontakt-ram {

width: 30%;

margin-left: 1%;

display: flex;

float: left;

margin-right: 1%;

height: 100%;

border: 0.125em dotted white;

border-radius: 20px;

background-color: 

   rgba(0, 0, 0, 0.726);

   margin-top: 1.25em;
}

#osss {

    font-size: 200%;
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    height: 4vh;
    width: 5em;

    margin-left: auto;

    margin-right: auto;

}

#ossp {

   margin-top: 10%;

   margin-left: -95%;

    

    width: 97%;

    height: 15vh;

    font-size: 120%;

    font-family: 'Times New Roman', Times, serif;

}
#skolann {

  

    font-size: 200%;

    text-align: center;

   

     font-family: 'Times New Roman', Times, serif;

    text-decoration: underline;

    height: 4vh;

    width: 5em;

    margin-left: auto;

    margin-right: auto;

}




#skolaninfo {

    margin-top: 10%;
    margin-left: -95%;
    width: 97%;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}

#kontaktt {

    width: 18.75em;
    font-size: 200%;
    text-align: center;
    margin-left: auto;
     margin-right: auto;
    text-decoration: underline;

}

#kontaktp {

    margin-top: 10%;
    margin-left: -95%;
    width: 97%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 140%;

}
#copyright {
    
    margin-top: 35vh;
    color: white;
    background-color: rgba(139, 137, 5, 0.521);
    height: 4vh;
    font-size: 23px;
}